.calculation {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        width: 38vw;
        text-align: center;
        padding: 20px 20px;
        font-size: 1.4rem;
        letter-spacing: .1rem;
    }
}

.selection {
    width: 38vw;
    padding: 8px 20px;
    font-size: 1.1rem;

    &__price {
        margin-top: 20px;
        font-size: .9rem;

        span {
            float: right;
        }
    }

    &__text {
        margin-right: 30px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &__box {
        float: right;
        border: none;
        background: $color-primary;
        color: $color-light;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
        letter-spacing: .8px;
        outline: none;
        cursor: pointer;

        option {
            font-weight: bold;
            padding-top: 4px;
        }
    }
}

.total__price {
    width: 30vw;
    padding: 20px 20px;
    font-size: 1.1rem;
    letter-spacing: .1px;

    span {
        float: right;
    }
}

.button-sum-btn {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
    font-size: 1.1rem;
    background: $color-primary;
    color: $color-light;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .1s;

    &:active {
        transform: translateY(3px);
        box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
    }
}

.submit__message {
    width: 70%;
   font-size: 1.1rem;
   color: $color-primary;
   font-weight: bold;
   text-align: center;
}